@use "../../responsive.scss" as *;
.singlePage{
    height: 100%;
    width: 100%;
    display: flex;

    @include md{
        flex-direction: column;
        overflow: scroll;
        scrollbar-width: none;
    }
    .details{
        flex:3.6;
        overflow-y: scroll;
        padding-bottom: 50px;
        scrollbar-width: none;
        @include md{
            flex:none;
            height: max-content;
            margin-right: 0px;
        }
        .wrapper{
            padding-right: 5px;
            @include md{
                width: 100%;
                margin-right: 0px;
            }

            .info{
                margin-top: 15px;
                @include md{
                    margin-top: 50px;
                }
                .top{
                    display: flex;
                    justify-content: space-between;
                    .post{
                        flex: 4;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                       
                        .address{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            color: #888;
                            font-size: 14px;
                            img{
                                height: 16px;
                                width: 16px;
                            }
                        }
                        .price{
                            font-size: 20px;
                            font-weight: 300;
                            border-radius: 15px;
                            padding: 4px 8px;
                            background-color: #fecd517d;
                            width: max-content;
                        }
                    }
                    .user{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 15px;
                        gap:8px;
                        background-color: #fefe5180;
                        
                        
                        img{
                            width:81px;
                            height: 81px;
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow: 0 0 8px black;

                        }
                        span{
                            font-size: 14px;
                            font-weight: 600;
                            text-align: center;
                        }
                        @include sm{
                            // background-color: red;
                            img{
                                width:50px;
                                height: 50px;
                            }
                            span{
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }
                        
                    }
                    
                }

                .bottom{
                    margin-top: 15px;
                    text-align: justify;
                    color: #2b2b2b;
                    line-height: 20px;
                }
            }
        }
    }
    .features{
        flex:2;
        height: 100%;
        padding: 4px;
        background-color: #fcf5f3;
        overflow-y: scroll;
        scrollbar-width: none;
        padding-bottom: 50px;
        @include md{
            flex:none;
            height: max-content;
            background-color: #fff;
            margin-bottom: 50px;
        }
        .wrapper{
            padding-right:0px 20px;
            .title{
                font-weight: 700;
                 margin: 8px 0px ;
                &:first-child{

                    margin-top: 0px;
                }
               
            }
            .listHorizental{
                display: flex;
                justify-content: space-between;
                @include sm{
                    flex-direction: column;
                }
            }
         
            .mapContainer{
                width: 100%;
                height: 200px;

            }
            .buttons{
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
                button{
                    border-radius:15px ;
                    padding: 20px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    background-color: #fff;
                    border: 1px solid rgb(211, 204, 204);
                    transition: all 0.5s ease;
                    cursor: pointer;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                    &:hover{
                        background-color: #fece51;
                    }
                   
                }
            }
        }
    }

}