*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    height: 120vh;
}
body{
    font-family:sans-serif;
    overflow: hidden;
    height: 120vh;
}


a{
    text-decoration: none;
    color: inherit;
}

