@use "../../responsive.scss" as *;

.profile{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow: scroll;
        scrollbar-width: none;
    }
    
    .details{
        flex:3;
        overflow-y: scroll;
        scrollbar-width: none;
        margin-bottom: 50px;

        @include md{
            flex:none;
            height: max-content;
        }
        .wrapper{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                font-weight: 300;
                }
                button{
                    padding: 6px;
                    border: none;
                    font-weight: 600;
                    box-shadow: 0 0 1px;
                    transition: all 0.2s ease;
                    cursor: pointer;
                    &:hover{
                        border-radius: 5px;
                        background-color: #fece51;
                        scale: 1.01;
                        -webkit-text-stroke: 0.5px black;

                    }
                }
                
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;
                img{
                    height: 50px;
                    aspect-ratio: 1/1;
                    border-radius: 10px;
                    object-fit: cover;
                    box-shadow: 0 0 4px;
                }
                span{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                button{
                    width: 100px;
                    background: rgb(247, 249, 249);
                    color: #fb0202;
                    border: 1px solid rgb(251, 147, 147);
                    cursor: pointer;
                    border-radius: 5px;
                    padding: 10px 20px;
                    transition: 40ms;
                    &:hover{
                        background: red;
                        color: #fcf5f3;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .chatContainer{
        flex:2;
        background-color: #fcf5f3;
        height: 100%;
        margin-bottom: 50px;
        @include md{
            flex:none;
            height: max-content;
            background-color: #fff;
        }
    }
    .wrapper{
        padding: 0px 20px;
        height: 100%;
        @include sm{
            height: 100vh;
        }
    }
}